[run]
omit = *migrations*
       *tests*
       app/agents*
       app/tasks/resend.py
       setup.py
       wsgi.py
       manage.py
       local_credentials.py
       app/mocks/*
       app/constants.py
       app/postgres.py
       app/db.py
       app/retry_worker.py
       app/tests/*
       app/agents/performance_mock.py
       app/agents/mock_agents.py

branch = True

[report]
fail_under = 80
