[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "bypi"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.tools.bink.sh/simple"
verify_ssl = true

[packages]
"aniso8601" = "*"
apipkg = "*"
arrow = "*"
astroid = "*"
"beautifulsoup4" = "*"
blinker = "*"
decorator = "*"
execnet = "*"
flask-restful-swagger = "*"
flask-restplus = "*"
hashids = "*"
httpretty = "*"
hvac = "*"
influxdb = "*"
ipdb = "*"
ipython = "*"
itsdangerous = "*"
jsonschema = "*"
logilab-common = "*"
lxml = "*"
"path.py" = "*"
pexpect = "*"
pickleshare = "*"
pycryptodome = "*"
python-dateutil = "*"
pytz = "*"
redis = "*"
requests-futures = "*"
robobrowser = "*"
selenium = "*"
shellescape = "*"
simplegeneric = "*"
six = "*"
slacker = "*"
traitlets = "*"
tzlocal = "*"
voluptuous = "*"
xmltodict = "*"
xvfbwrapper = "*"
pytest = "*"
pytest-forked = "*"
pytest-xdist = "*"
"psycopg2-binary" = "*"
certifi = "*"
celery = "*"
Flask = "*"
Flask-Redis = "*"
Flask-RESTful = "*"
Flask-Script = "*"
Flask-Testing = "*"
ipython_genutils = "*"
"Jinja2" = "*"
MarkupSafe = "*"
PyExecJS = "*"
Werkzeug = "==0.16.0"
SQLAlchemy = "*"
tenacity = "*"
sentry-sdk = "*"
requests = "*"
gaia = "*"
prometheus-client = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
pytest-cov = "*"
black = "==19.10b0"
