[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pypi-cloud"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.gb.bink.com/simple"
verify_ssl = true

[packages]
arrow = "*"
blinker = "*"
flask-restplus = "*"
hashids = "*"
lxml = "*"
pycryptodome = "*"
redis = "*"
requests-futures = "*"
voluptuous = "*"
psycopg2-binary = "*"
celery = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Script = "*"
tenacity = "*"
sentry-sdk = "*"
requests = "*"
prometheus-client = "*"
Werkzeug = "*"
azure-oidc = {version="*", index="pypi-cloud"}
soteria = {version="*", index="pypi-cloud"}
gunicorn = "*"
user-token-store = {version="*", index="pypi-cloud"}
urllib3 = "*"
click = "*"
alembic = "*"
sqlalchemy = "*"
typer = "*"
isort = "*"
flask-admin = "*"
pytest = "*"
httpretty = "*"
flask-testing = "*"
sqlalchemy-utils = "*"
rq = "!=1.14.0"
sqlalchemy-stubs = "*"
argon2-cffi = "*"

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-forked = "*"
Flask-Testing = "*"
httpretty = "*"
SQLAlchemy = "*"
ipdb = "*"
ipython = "*"
mypy = "*"
types-certifi = "*"
types-python-dateutil = "*"
types-redis = "*"
types-requests = "*"
types-setuptools = "*"
types-six = "*"
types-toml = "*"
ptpython = "*"
xenon = "*"
isort = "*"
responses = "*"
