[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "gitlab-libraries"
url = "https://bink-libs:y6nzdKbo9J6MkEmwvB-i@git.bink.com/api/v4/groups/86/-/packages/pypi/simple"
verify_ssl = true

[packages]
arrow = "*"
blinker = "*"
flask-restplus = "*"
hashids = "*"
lxml = "*"
pycryptodome = "*"
redis = "*"
requests-futures = "*"
voluptuous = "*"
psycopg2-binary = "*"
celery = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Script = "*"
tenacity = "*"
sentry-sdk = "*"
requests = "*"
prometheus-client = "*"
Werkzeug = "*"
azure-oidc = "*"
soteria = "*"
gunicorn = "*"
user-token-store = "*"
olympus-messaging = "*"
pendulum = "*"

[dev-packages]
black = "==21.6b0"
coverage = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-forked = "*"
Flask-Testing = "*"
httpretty = "*"
SQLAlchemy = "*"
ipdb = "*"
ipython = "*"
mypy = "*"
types-certifi = "*"
types-python-dateutil = "*"
types-redis = "*"
types-requests = "*"
types-setuptools = "*"
types-six = "*"
types-toml = "*"
ptpython = "*"
xenon = "*"
isort = "*"
